<%
  icon_class = case platform.to_s
  when "substack" then "platform-icon-substack"
  when "ghost" then "platform-icon-ghost"
  when "medium" then "platform-icon-medium"
  else "platform-icon-substack"
  end

  letter = platform.to_s[0].upcase
%>

<div class="platform-icon <%= icon_class %> flex-shrink-0">
  <span><%= letter %></span>
</div>
