<% if notice.present? || alert.present? %>
  <div class="mb-6" data-controller="flash">
    <% if notice.present? %>
      <div class="flash-notice mb-4" data-flash-target="message">
        <div class="flex items-center justify-between">
          <span><%= notice %></span>
          <button type="button"
                  class="ml-4 text-green-300 hover:text-green-100"
                  data-action="click->flash#dismiss">
            [X]
          </button>
        </div>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="flash-alert" data-flash-target="message">
        <div class="flex items-center justify-between">
          <span><%= alert %></span>
          <button type="button"
                  class="ml-4 text-red-300 hover:text-red-100"
                  data-action="click->flash#dismiss">
            [X]
          </button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
